* {
  margin: 0;
  padding: 0;

  --primary-color: purple;
  --secondary-color: green;
  --tertiary-color: red;
  --light-color: white;
  --dark-color: #2c2c2c;
}

html {
  height: 100%;
}

body {
  height: 100%;
  font-family: sans-serif;
  background-color: #2c2c2c;
}

#app {
  height: 100%;
  width: 100%;
}

.bg {
  &-primary {
    background-color: var(--primary-color);
  }

  &-secondary {
    background-color: var(--secondary-color);
  }

  &-tertiary {
    background-color: var(--tertiary-color);
  }

  &-light {
    background-color: var(--light-color);
  }

  &-dark {
    background-color: var(--dark-color);
  }
}

.text {
  &-primary {
    color: var(--primary-color);
  }

  &-secondary {
    color: var(--secondary-color);
  }

  &-tertiary {
    color: var(--tertiary-color);
  }

  &-light {
    color: var(--light-color);
  }

  &-dark {
    color: var(--dark-color);
  }
}
